<div class="ui grid container">
  <div class="row">
    <div class="ten wide column">
      <div class="ui devided items">
        <% @pages.each.with_index do |c, i|%>
            <div class="item page-item" data-id="<%= c.id %>">
              <div class="image">
                <img src="../../assets/indexbackground.png"/>
              </div>
              <div class="content">
                <p class="header"><%=c.name%></p>
                <div class="description">
                  <%=c.content%>
                </div>
                <div class="extra">
                  <select class="ui fluid dropdown selection multiple">
                    <% @articles.each do |p|%>
                      <option value="<%=p.id%>"><%=p.title%></option>
                    <%end%>
                  </select>
                </div>
              </div>
            </div>
            <hr/>
        <%end%>
        <button class="ui right floated primary button" onclick="export_site()">
          Export
          <i class="right chevron icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
    $('.ui.dropdown').dropdown();

    function export_site() {
        arr = [];
        var hash = new Object(); // or just {}
        $('.page-item').each(function(){
            hash[$(this).data("id")] = ($(this).find('a.transition')).map(function(){return $(this).data("value");}).get()
//            var page = {
//                id: $(this).data("id"),
//                articles: ($(this).find('a.transition')).map(function(){return $(this).data("value");}).get()
//            };
//        arr.push(page);
        });
        console.log(hash);
        $.ajax({
            type: 'GET',
            url: 'export',
            dataType: 'json',
            data: {'web': hash},
            success:function(data) {
                console.log(data)
                window.location.href = 'download?file_path=' + data.url
            }
        });
    }

    function preview(pageId) {
      var ids = ($('#' + pageId).find('a.transition')).map(function(){return $(this).data("value");}).get();
      $.ajax({
          type: 'GET',
          url: 'preview',
          dataType: 'json',
          data: {'articleIds': ids, 'templateId': <%=@templateId%>}
      });
    }
</script>