<div class="ui grid container">
  <div class="row">
    <div class="ten wide column">
      <div class="ui devided items">
        <% @pages.each.with_index do |c, i|%>

            <div class="item page-item" data-id="<%= c.id %>">
              <div class="image">
                <img src="../../assets/indexbackground.png"/>
              </div>
              <div class="content">
                <p class="header"><%=c.name%></p>
                <div class="description">
                  <%=c.content%>
                </div>
                <div class="extra" id="page<%=i%>">
                  <select name="articles" class="ui fluid dropdown multiple">
                    <option value="">Articles</option>
                    <% @articles.each do |p|%>
                        <option value="<%=p.id%>"><%=p.title%></option>
                    <%end%>
                  </select>
                  <button class="ui right floated primary button" onclick="preview('page<%=i%>', <%=c.id%>)">
                    Preview
                    <i class="right chevron icon"></i>
                  </button>
                </div>
              </div>
            </div>
            <hr/>
        <%end%>
        <button class="ui right floated primary button" onclick="export_site()">
          Export
          <i class="right chevron icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
    $('.ui.dropdown').dropdown();

    function export_site() {
        arr = [];
        var hash = new Object(); // or just {}
        $('.page-item').each(function(){
            hash[$(this).data("id")] = ($(this).find('a.transition')).map(function(){return $(this).data("value");}).get()
//            var page = {
//                id: $(this).data("id"),
//                articles: ($(this).find('a.transition')).map(function(){return $(this).data("value");}).get()
//            };
//        arr.push(page);
        });
        console.log(hash);
        $.ajax({
            type: 'GET',
            url: 'export',
            dataType: 'json',
            data: {'web': hash},
            success:function(data) {
                console.log(data)
                window.location.href = 'download?file_path=' + data.url
            }
        });
    }

    function preview(id, pageId) {
        var articleIds = ($('#' + id).find('a.transition')).map(function(){return $(this).attr("data-value");}).get();

        $.ajax({
            type: 'GET',
            url: 'previewajax',
            dataType: 'json',
            data: {
                'templateId' : <%=@templateId%>,
                'pageId' : pageId,
                'articleIds': articleIds
            },
            success: function(result){
                if(result){
                    window.location.href = "preview"
                }
            },
            error: function(){
                alert("Error")
            }
        });
    }
</script>