<div class="ui grid container">
  <div class="row">
    <div class="ten wide column">
      <div class="ui devided items">
        <% @pages.each.with_index do |c, i|%>
            <div class="item">
              <div class="image">
                <img src="../../assets/indexbackground.png"/>
              </div>
              <div class="content">
                <p class="header"><%=c.name%></p>
                <div class="description">
                  <%=c.content%>
                </div>
                <div class="extra" id="page<%=i%>">
                  <select name="articles" class="ui fluid dropdown multiple">
                    <option value="">Articles</option>
                    <% @articles.each do |p|%>
                        <option value="<%=p.id%>"><%=p.title%></option>
                    <%end%>
                  </select>
                  <button class="ui right floated primary button" onclick="preview('page<%=i%>')">
                    Preview
                    <i class="right chevron icon"></i>
                  </button>
                </div>
              </div>
            </div>
            <hr/>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
    $('.ui.dropdown').dropdown();
    
    function preview(pageId) {
      var ids = ($('#' + pageId).find('a.transition')).map(function(){return $(this).attr("data-value");}).get();

      $.ajax({
          type: 'GET',
          url: 'preview',
          dataType: 'json',
          data: {'articleIds': ids, 'templateId' : <%=@templateId%>},
      });
    }
</script>