<div class="ui inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      Website Composer
    </a>
    <a href="#" class="item">Home</a>
    <div class="ui simple dropdown item">
      Dropdown <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">Link Item</a>
        <a class="item" href="#">Link Item</a>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
        <a class="item" href="#">Link Item</a>
      </div>
    </div>
  </div>
</div>

<h1 class="ui center aligned header"><%=@template.name%>'s Pages</h1>

<div class="ui main container">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui styled accordion">
        <%@pages.each.with_index do |page, i|%>
            <div class="title">
              <h3>
                <i class="dropdown icon"></i>
                <%=page.name%>
              </h3>
            </div>
            <div class="content" >
              <div class="hidden" id="pageid" data-value="<%=page.id%>"></div>
              <div class="ui divided list middle aligned">
                <%@articles.each do |article|%>
                    <div class="item">
                      <div class="right floated content">
                        <a><i class="add circle icon" style="font-size: 2em;" onclick="appendArticle(<%=article.id%>, this)"></i></a>
                      </div>
                      <div class="content" style="margin-top: 12px" data-value="<%=article.id%>">
                        <%=article.title%>
                      </div>
                    </div>
                <%end%>
              </div>
            </div>
        <%end%>
      </div>
    </div>
    <div class="twelve wide stretched column" style="height: 800px">
      <div class="ui segment" id="preview-segment" style="overflow: auto">
      </div>
    </div>
  </div>




  <!--<div class="ui three column grid">-->
  <!--<% @pages.each.with_index do |c, i|%>-->
      <!--<div class="column ">-->
      <!--<div class="ui fluid card page-item" data-id="<%= c.id %>">-->
      <!--<div class="content">-->
      <!--<h3><%=c.name%></h3>-->
      <!--</div>-->
      <!--<div class="image">-->
      <!--<img src="../../assets/indexbackground.png"/>-->
      <!--</div>-->
      <!--<div class="content">-->
      <!--<div class="extra" id="page<%=i%>">-->
      <!--<select class="ui fluid dropdown" multiple="">-->
      <!--<option value="">Select your Articles...</option>-->
      <!--<% @articles.each do |p|%>-->
          <!--<option value="<%=p.id%>"><%=p.title%></option>-->
          <!--<%end%>-->
      <!--</select>-->
      <!--<br/>-->
      <!--<button class="ui right floated primary button" onclick="preview('page<%=i%>', <%=c.id%>)">-->
      <!--Preview-->
      <!--<i class="right chevron icon"></i>-->
      <!--</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<%end%>-->
  <!--</div>-->

</div>

<script>

    $(document).ready(function () {

        var previewSegment = $('#preview-segment');
        previewSegment.html('<%=@template.content.html_safe%>');


        $('.accordion').accordion({
            onOpening: function () {

                var pageId = $(this).find('#pageid').attr('data-value');

                $.ajax({
                    type: 'GET',
                    url: 'appendPage',
                    data: {
                        'pageId': pageId
                    },
                    success: function (result) {
                        $('.page-area').html(result.content);
                    },
                    error:function (error) {
                        alert(error.message)
                    }
                })
            }
        });
    })

    function appendArticle(articleId, addBtn) {
        $(addBtn).toggleClass('add check');

        var articleArea = $(addBtn).closest('.four.wide').siblings().find('.article-area');
        if($(addBtn).attr('class') == 'circle icon check'){
            $.ajax({
                type: 'GET',
                url: 'appendArticle',
                dataType: 'json',
                data:{
                    'articleId': articleId,
                },
                success:function (result) {
                    articleArea.append(
                        '<div '
                        + 'id="'+articleId+'"'
                        + '></div>'
                    );
                    articleArea.find('#'+articleId).append(result.content);
                },
                error:function (error) {
                    alert("error");
                }
            })
        }else{
            articleArea.find('#'+articleId).remove();
        }

    }

    function export_site() {
        arr = [];
        var hash = new Object(); // or just {}
        $('.page-item').each(function(){
            hash[$(this).data("id")] = ($(this).find('a.transition')).map(function(){return $(this).data("value");}).get()
//            var page = {
//                id: $(this).data("id"),
//                articles: ($(this).find('a.transition')).map(function(){return $(this).data("value");}).get()
//            };
//        arr.push(page);
        });
        console.log(hash);
        $.ajax({
            type: 'GET',
            url: 'export',
            dataType: 'json',
            data: {'web': hash},
            success:function(data) {
                console.log(data)
                window.location.href = 'download?file_path=' + data.url
            }
        });
    }

    function preview(id, pageId) {
        var articleIds = ($('#' + id).find('a.transition')).map(function(){return $(this).attr("data-value");}).get();

        $.ajax({
            type: 'GET',
            url: 'previewajax',
            dataType: 'json',
            data: {
                'templateId' : <%=@template.id%>,
                'pageId' : pageId,
                'articleIds': articleIds
            },
            success: function(result){
                if(result){
                    window.location.href = "preview"
                }
            },
            error: function(){
                alert("Error")
            }
        });
    }
</script>